body {
    text-align: center;
    background-color: lightcyan ;
}
li {
    list-style-position: inside;
}

.list1, .list2, .list3 {
    border: 4px solid black;
    background-color: lightskyblue;
}

a {
    color: black;
}
.borderheaders {
    font-size: 20px;
    background-color: whitesmoke;
}
.brisket {
    height: auto;
    width: 250px;
}